<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <title>Dummy Content</title>
    {{ partial "head.html" . }}
  </head>

  <body>
    <main>
      <h1>Single-page timeline theme</h1>
      <div class="c-timeline__container">
        {{ range.Data.Pages }}
          {{ if eq .Type "event" }}
            <div class="c-timeline__event-container">
              <h1>{{ .Title }}</h1>
              {{ .Content }}
              <img src={{ print "images/" .Params.event_image | absURL }} />
            </div>
          {{ end }}
        {{ end }}
      </div>
    </main>
  </body>
</html>
